/*input {
	display:flex;
	align-self: center;
	font-size:30pt;
}*/

body{
	background-color: yellow;
}

.container{
	display:flex;
	margin-top: 20%;
	justify-content: center;
	color:black;
	font-size: 20pt;
	font-family: 'Raleway', sans-serif;
}